## Importando datos

In [2]:
import pandas as pd
import numpy as np
from datetime import date

In [3]:
df1 = pd.read_csv('balances.txt', sep=',')

In [4]:
df1=df1.replace("NaN",np.nan)
df1=df1.fillna(0)
df1.head()
df1["S1"]=+df1["S1-III"]+df1["S1-IV"]+df1["S1-V"]+df1["S1-VII"]
df1["S2"]=+df1["TS(S2)III"]+df1["TS(S2)IV"]+df1["TS(S2)V"]+df1["TS(S2)VI"]
df1=df1.drop(columns={"S1-III","S1-IV","S1-V","S1-VII","TS(S2)III","TS(S2)IV","TS(S2)V","TS(S2)VI","CoordX","CoordY"})

In [5]:
df1["M1"]=df1["M1.2"]
df1["M2"]=df1["M2.2"]


df1["M1"][df1["M1"]==0]=df1["M1.1"]
df1["M2"][df1["M2"]==0]=df1["M2.1"]




nueva_fila = []

for i in range(len(df1.columns)):
    if i == 0:  # Si es la primera columna
        #nueva_fila.append(np.nan)
        nueva_fila.append("NA")
        
    else:  # Las columnas restantes
        nueva_fila.append(-2000)
        
        

df1.loc[len(df1)]=nueva_fila

df1=df1.drop(columns={"M1.1","M1.2","M2.1","M2.2"})
# df1

C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\4187335293.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1["M1"][df1["M1"]==0]=df1["M1.1"]
C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\4187335293.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["M1"][df1["M1"]==0]=df1["M1.1"]
C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\4187335293.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1["M2"][df1["M2"]==0]=df1["M2.1"]
C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\4187335293.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["M2"][df1["M2"]==0]=df1["M2.1"]

In [6]:
df1.head()

,centroide,TS(TL),TS(TC),G1.1,G1.2,A1.1,A1.2,TL,P,CN,S1,S2,M1,M2
0,VMy_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-11.0,0.0,0.0,0.0,0.0
1,NJ_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-8.0,0.0,0.0,0.0,0.0,0.0
2,NJ_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-8.0,0.0,0.0,0.0,0.0,0.0
3,NJ_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.0,0.0,0.0,0.0,0.0,0.0
4,AP_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0

In [7]:
# Renaming columns
df1.rename(columns={'G1.1': 'G1', 'G1.2': 'G2','A1.1':'A1','A1.2':'A2','TS(TC)':'TC'}, inplace=True)
print(df1.head())

  centroide  TS(TL)   TC   G1   G2   A1   A2   TL     P    CN   S1   S2   M1  \
0     VMy_1     0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0 -11.0  0.0  0.0  0.0
1      NJ_1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  -8.0   0.0  0.0  0.0  0.0
2      NJ_2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  -8.0   0.0  0.0  0.0  0.0
3      NJ_3     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -10.0   0.0  0.0  0.0  0.0
4      AP_1     0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  18.0  0.0  0.0  0.0

    M2
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0

In [8]:
df1["P"][df1["P"]==0]=df1["CN"]
df1=df1.drop(columns={"CN"})
print(df1.head())

  centroide  TS(TL)   TC   G1   G2   A1   A2   TL     P   S1   S2   M1   M2
0     VMy_1     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -11.0  0.0  0.0  0.0  0.0
1      NJ_1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  -8.0  0.0  0.0  0.0  0.0
2      NJ_2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  -8.0  0.0  0.0  0.0  0.0
3      NJ_3     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -10.0  0.0  0.0  0.0  0.0
4      AP_1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  18.0  0.0  0.0  0.0  0.0

C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\733053496.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1["P"][df1["P"]==0]=df1["CN"]
C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\733053496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["P"][df1["P"]==0]=df1["CN"]

In [9]:
df1["TL"][df1["TL"]==0]=df1["TS(TL)"]
df1=df1.drop(columns={"TS(TL)"})
print(df1.head())

  centroide   TC   G1   G2   A1   A2   TL     P   S1   S2   M1   M2
0     VMy_1  0.0  0.0  0.0  0.0  0.0  0.0 -11.0  0.0  0.0  0.0  0.0
1      NJ_1  0.0  0.0  0.0  0.0  0.0  0.0  -8.0  0.0  0.0  0.0  0.0
2      NJ_2  0.0  0.0  0.0  0.0  0.0  0.0  -8.0  0.0  0.0  0.0  0.0
3      NJ_3  0.0  0.0  0.0  0.0  0.0  0.0 -10.0  0.0  0.0  0.0  0.0
4      AP_1  0.0  0.0  0.0  0.0  0.0  0.0  18.0  0.0  0.0  0.0  0.0

C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\362471490.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1["TL"][df1["TL"]==0]=df1["TS(TL)"]
C:\Users\gchiappe\AppData\Local\Temp\ipykernel_11576\362471490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["TL"][df1["TL"]==0]=df1["TS(TL)"]

In [10]:
# df1=df1.fillna(-1000)
df1=df1.replace(0,-1000)
print(df1.head())

  centroide      TC      G1      G2      A1      A2      TL     P      S1  \
0     VMy_1 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0 -11.0 -1000.0
1      NJ_1 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0  -8.0 -1000.0
2      NJ_2 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0  -8.0 -1000.0
3      NJ_3 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0 -10.0 -1000.0
4      AP_1 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0 -1000.0  18.0 -1000.0

       S2      M1      M2
0 -1000.0 -1000.0 -1000.0
1 -1000.0 -1000.0 -1000.0
2 -1000.0 -1000.0 -1000.0
3 -1000.0 -1000.0 -1000.0
4 -1000.0 -1000.0 -1000.0

In [12]:


todays_date = date.today()

# print("Today's date =", todays_date)


df1.to_excel(f"balances_GUS_{todays_date}.xlsx",index=False)